.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  font-size: 14px;
  font-weight: 700;
}

#table {
  max-width: 650px;
}

#logo {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  webkit-flex-direction: column;
  align-items: center;
  webkit-align-items: center;
}

#logo img {
  width: 100%;
  max-width: 450px;
}

#logo p {
  font-size: 3rem;
  font-weight: 500;
}

#addin {
  width: 100%;
}

.panel {
  max-width: 300px;
}

#infographic img {
  width: 100%;
  max-width: 650px;
}

/* settings for the contributor page */

.ctrbs li {
  margin-bottom: 5px;
}

.ctrb {
  border-radius: 10px;
  padding: 3px 6px 3px 6px;
  margin-left: 3px;
}

.ctrb-author {
  background: #FA8600;
  color: white;
}

.ctrb-creator {
  background: #FFB701;
  color: white;
}

.ctrb-contributor {
  background: #219EBC;
  color: white;
}

/* FAQ */

.panel {
  box-shadow: none;
}

.panel-group .panel {
  border-radius: 10px;
  max-width: 650px;
}

.panel-default > .panel-heading {
  background-color: #FFB701;
}

.panel-title {
  color: #262626;
  font-size: 16px;
  width: 100%;
}

.panel-body {
  padding: 15px 15px 0 15px;
}

.panel-body p {
  margin: 10px 0 10 10px;
  color: #262626
  border-radius: 10px;
}

.panel-body ol {
  padding-left: 20px;
}

.panel-body ul {
  padding-left: 10px;
}

.collapsible-link {
  display: block;
  position: relative;
  width: 100%;
  padding-right: 18px;
  border-radius: 10px;
}

.collapsible-link::after {
  position: absolute;
  top: 8px;
  right: 0;
  
  content: '\f107';
  transform: translateY(-50%);
  font-family: 'FontAwesome';
  font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::after {
  content: '\f106';
}
